// Colors
$darkCyan:hsl(185, 75%, 39%);
$desaturatedBlue: hsl(229, 23%, 23%);
$grayishBlue: hsl(227, 10%, 46%);
$gray: hsl(0, 0%, 59%);
$white:hsl(0, 0%, 95%);

// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont: 'Kumbh Sans', sans-serif;